@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #E7E7F1;
}

li a,
.post-author a {
  text-decoration: none;
  color: #46708a;
}

li a:hover,
.post-author a:hover {
  color: #343739;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #ad78a1;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

/* Layout */
.wrapper {
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.sidebar {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
}

.posts {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
  position: relative;
}

.sidebar,
.posts {
  background: #fff;
  padding: 40px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
  background-color: #EEEDF5;
}

/* Logo */
.logo-section {
  background-image: url("https://images.pexels.com/photos/1306705/pexels-photo-1306705.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 70vh;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin: 20px 20px 0 20px;
  border-radius: 5px;
  border: 2px solid white;
}

.logo-box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 150px;
  line-height: 1;
  text-align: center;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  color: #fff;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
}

.sidebar .tags li {
  display: inline;
}

.sidebar .tags a {
  padding: 10px;
}

.tag-size-1 {
  font-size: 75%;
}

.tag-size-2 {
  font-size: 90%;
}

.tag-size-3 {
  font-size: 100%;
}

.tag-size-4 {
  font-size: 115%;
}

.tag-size-5 {
  font-size: 130%;
}

.tag-size-6 {
  font-size: 150%;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
/*.post {
  display: none;
  &.active {
    display: block;
  }
}*/
.post {
  position: absolute;
  opacity: 0;
  transition: all 1s ease;
  top: 40px;
  margin-right: 40px;
}

.post.active {
  opacity: 1;
  z-index: 10;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: -ms-flexbox;
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}

.post-title {
  color: #ad78a1;
}

.sidebar .tags span {
  color: #46708a;
}

.topnav .icon {
  display: none;
  color: #ad78a1;
}

/*mobile*/
@media (max-width: 767px) {
  #art-title {
    display: inline-block;
  }
  .topnav {
    position: relative;
  }
  .wrapper {
    display: block;
  }
  .topnav ul {
    display: none;
  }
  .topnav .icon {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 22px;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive ul {
    float: none;
    display: block;
    text-align: left;
  }
  .sidebar,
  .posts {
    padding: 0 20px;
  }
  .sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */