@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-3: #599ac2;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #E7E7F1;
}

li a{
  text-decoration: none;
  color: #46708a;
  &:hover{
    color: #343739;
  }
}
.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  color: #ad78a1;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: $color-light;
  padding: 40px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
  background-color: #EEEDF5;
}

/* Logo */

.logo-section{
  background-image: url("https://images.pexels.com/photos/1306705/pexels-photo-1306705.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 70vh;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin: 20px 20px 0 20px;
  border-radius: 5px;
  border: 2px solid white;
}


.logo-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 150px;
  line-height: 1;
  text-align: center;
  margin:0;
  object-fit: cover;
  color: #fff;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;
  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

.post-title{
  color: #ad78a1;
}

.sidebar .tags span{
  color: #46708a;
}

/*mobile*/
@media (max-width: 767px) {

    .wrapper {
      display: block;
    }
}